@media screen and (max-width: 600px), (orientation:landscape) and (min-width: 601px) and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-top: 64px;
  }
  /* ========== mobile layout changes ========== */
  .content-main .content-head,
  .content-head-controls,
  .menu-radioOptions--devices {
    display: none;
  }
  /* ========== head layout ========== */

  .head {
    position: fixed;
    height: 64px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    position: absolute;
    width: 70%;
    height: 100vh;
    right: 0;
    top: 66px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .overlay {
    z-index: 50;
    top: 64px;
  }
  /* ---------- content blocks styles ---------- */
  .content-cards {
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
  }
  .card {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .content-scenarios, 
  .content-devices {
    margin-top: 10px;
  }
  .content-head {
    margin: 20px 0;
  }

  .content-main {
    display: flex;
    flex-direction: column;
  }
  .content-main__infobox {
    margin-left: 20px;
  }
  .content-main__cards .card:first-child {
    margin-left: 20px;
  }

  .footer-pages {
    display: flex;
    flex-flow: row wrap;
  }

}