
/* ========== head elements ========== */

.logo {
  height: 39px;
}

/* ========== content elements ========== */
.content-head-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.content-cards {
  display: flex;
  flex-flow: row nowrap;
  overflow: scroll;
  overflow: hidden;
}
.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 200px;
  height: 100px;
  min-width: 200px;
  min-height: 100px;
  margin: 0 20px 15px 0;
}
.card--large {
  height: 115px;
}

.content-main {
  display: flex;
  flex-direction: column;
}
/* ---------- scroll style ---------- */
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
  /* display: none; */
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .5); 
}
::-webkit-scrollbar-thumb:horizontal {
  height: 2px;
}
