@media screen and (max-width: 600px), (orientation:landscape) and (min-width: 600px) and (max-width: 900px) {

  .nav-opened {
    overflow: hidden;
  }
  /* ========== head elements ========== */

  .head {
    background: #fff;
    border: none;
    padding: 0 20px;
    z-index: 100;
  }

  /* ---------- nav style ---------- */
  .nav {
    background: #fff;
    font-family: 'Arial', serif;
    font-weight: bold;
    font-size: 22px;
    transition: .2s ease all;
    transform: translate(100%);
  }
  .nav__link {
    margin: 20px 0;
    color: #333333;
    position: relative;
  }
  .nav__link::after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #858585;
  }
  .nav-toggle {
    position: relative;
    padding: 15px;
    padding-right: 0;
    background: transparent;
    border: none;
    margin: 7px 0;
  }
  .nav-toggle:focus {
    outline-width: 0;
  }
  .nav-toggle [class*='bar-'] {
    background: #333;
    display: block;
    border-radius: 2px;
    height: 3px;
    width: 16px;
    margin-bottom: 3px;
    transform: rotate(0deg);
    transition: .2s ease all;
  }

  /* ---------- nav-opened changes ---------- */
  .nav-opened .head ~ div,
  .nav-opened .head ~ footer {
    filter: blur(2px);
  }

  .nav-opened .overlay {
    top: 64px;
    opacity: 0.5;
    visibility: visible;
    z-index: 50;
  }
  .nav-opened .nav {
    transform: translate(0);
  }
  .nav-opened .head {
    border-bottom: 2px solid #f0f0f0;
  }
  .nav-opened .bar-top {
    transform: translate(10px) rotate(45deg);
    transform-origin: 0% 0%;
    width: 50%;
  }
  .nav-opened .bar-mid {
    opacity: .9;
  }
  .nav-opened .bar-bot {
    transform: translate(10px) rotate(-45deg);
    transform-origin: 0 100%;
    width: 50%;
  }
  /* ---------- content blocks styles ---------- */
  .content-main__container {
    background-image: url(../images/bg1x.png);
    padding: 20px 0 10px;
  }
  .content-main__welcome {
    font-size: 1.125em;
    margin-bottom: 5px;
  }
  .content-main__info {
    font-size: 0.75em;
    margin-bottom: 15px;
  }
  .card {
    margin-bottom: 10px;
  }
  .forecast__place {
    font-size: 0.75em;
  }
  .forecast__temperature {
    font-size: 1.5em;
  }
  .forecast__img {
    width: 18px;
  }
  

  /* ========== footer elements ========== */
  .footer {
    margin: 30px 0 0;
    display: block;
  }
  .footer-pages__link {
    padding: 5px 0;
    width: 50%;
    text-align: left;
  }
  .footer-pages__link:nth-child(even) {
    text-align: right;
  }
  .copyright {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #333;
  }
}
