@media screen and (max-width: 770px) {
  /* ---------- content controls style ---------- */
  .menu-devices-mobile {
    box-sizing: border-box;
    height: 30px;
    padding-left: 10px;
    padding-right: 25px;
    border: none;
    outline: none;
    border-radius: 20px;

    background-color: #FFD93E;
    background-image: url(../images/L1.png);
    background-repeat: no-repeat;
    background-position: 92% 50%;

    text-align: center;
    font-size: 0.8125em;
    font-weight: bolder;

    appearance: none;
  }
  .menu-devices-mobile:focus {
    outline: none;
  }
  .menu-devices-mobile option {
    background: #f7f7f7;
  }
}